<% layout("/layouts/boilerplate") -%>

    <body>
        <% if(success && success.length) {%>
            <h5>
                <%= success%>
            </h5>
            <% } %>

                <div class="card mb-3" style="max-width: 940px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="<%=currProduct.image.url%>" class="img-fluid rounded-start" alt="image not found">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">&#8377;<%= currProduct.price %>
                                </h5>
                                <p class="card-text">
                                    <%= currProduct.name %>
                                </p>
                                <p class="card-text">
                                    <% if(currProduct.type === "non_healthy"){ %>
                                        <span class="badge bg-danger">Non-Healthy</span>
                                        <% }else{ %>
                                            <span class="badge bg-success">Healthy</span>
                                            <% } %>
                                </p>
                                <p class="card-text"><small class="text-body-secondary">

                                        Ingredients:
                                        <% for(let ingredient of currProduct.ingredients){ %>
                                            <li>
                                                <%= ingredient %>
                                            </li>
                                            <% } %>
                                                </ul>
                                                </li>


                                    </small></p>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Button section -->
                <% if(currUser) { %>
                    <div class="edit-section">
                        <form action="/productListing/<%= currProduct._id %>/edit">
                            <button class="btn">Edit</button>
                        </form>
                        <form action="/productListing/<%=currProduct._id%>?_method=DELETE" method="POST">
                            <button class="btn"
                                onclick="return confirm('Are you sure you want to Delete this product ?')">Delete</button>
                        </form>
                    </div>
                    <% } %>

                        <hr>
                        <h3>Best alternatives of the above product is:</h3>

                            <div class="d-flex flex-row flex-nowrap overflow-auto py-2 mb-4">
                                <% for(let product of allProduct){ %>
                                    <% if(product.category===currProduct.category && product.type==="healthy" ){ %>
                               
                                <div class="card me-4" style="min-width: 18rem; max-width: 18rem; height: 28rem;">
                                <img src="  <%=product.image.url%>" class="card-img-top p-2" alt="no image found" style="width: 12rem;">
                                <div class="card-body">
                                  <h5 class="card-title">&#8377;<%=product.price%></h5>
                                  <p class="card-text"><%= product.name.length > 50 ? product.name.substring(0, 50)+"..." : product.name %></p>
                                  <a href="/productListing/<%= product._id%>" class="btn btn-primary">View</a>
                                </div>
                              </div>
                              <%} }%>
                              


                              
                            


                        
                        </div>



    </body>